In [1]:
#Unit-I Data Manipulation with Pandas (Attempt Any 3)
#Q. 1. Create a Pandas DataFrame with below given two-dimensional list 
#          [['Ram', 25], ['Ramesh', 30], ['Shyam', 26], ['Naresh', 22]]

In [2]:
import pandas as pd

In [3]:
data=[['Ram', 25], ['Ramesh', 30], ['Shyam', 26], ['Naresh', 22]]
df=pd.DataFrame(data)
print(df)

        0   1
0     Ram  25
1  Ramesh  30
2   Shyam  26
3  Naresh  22

In [4]:
#Q. 2.  Create a Pandas DataFrame with below given dictionary object?
#data = {'Subject':['Math', 'Physics', 'Chemistry'],  'Marks':[20, 21, 19]}

In [5]:
data = {'Subject':['Math', 'Physics', 'Chemistry'],  'Marks':[20, 21, 19]}
DF=pd.DataFrame(data)
print(DF)

     Subject  Marks
0       Math     20
1    Physics     21
2  Chemistry     19

In [6]:
#Q. 3. Create a JSON file for below object and Create a Pandas DataFrame using the created JSON file?
#         {"Courses":{"r1":"Spark"},"Fee":{"r1":"25000"},"Duration":{"r1":"50 Days"}}

In [7]:
import json 
dict={"Courses":{"r1":"Spark"},"Fee":{"r1":"25000"},"Duration":{"r1":"50 Days"}}
json_obj = json.dumps(dict, indent = 4)  #Here, indent â€“ defines the number of units for indentation 
print(json_obj)

{
    "Courses": {
        "r1": "Spark"
    },
    "Fee": {
        "r1": "25000"
    },
    "Duration": {
        "r1": "50 Days"
    }
}

In [8]:
import pandas as pd
df = pd.read_json(json_obj)
print(df)

   Courses    Fee Duration
r1   Spark  25000  50 Days

In [9]:
#Unit-II Python GUI - Tkinter (Attempt Any 1)
#1. Create Python Tkinter GUI program to add a button in your application using tkinter module.

In [10]:
import tkinter as tk 
win = tk.Tk() 
win.title('Title - button') 
btn = tk.Button(win, text='Quit', height=1, width=35, command=win.destroy) 
btn.pack()        #pack() method: It organizes the widgets in blocks before placing in the parent widget.
win.mainloop()    # mainloop() is used when your application is ready to run.

In [11]:
#Unit-III Machine Learning (Attempt Any 2)

#Q. 1. Create Python Jupyter notebook of Sk-Learn program using Linear Regression(LR) technique to train a LR model for prediction of house prices?
#Dataset:
#https://github.com/Shreyansh81/House-Price-Prediction/raw/main/Housing%20Information.csv

In [12]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
%matplotlib inline

In [13]:
hos=pd.read_csv('HousingInformation.csv')
hos.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05,USNS Raymond\nFPO AE 09386

In [14]:
hos.columns

Index(['Avg. Area Income', 'Avg. Area House Age', 'Avg. Area Number of Rooms',
       'Avg. Area Number of Bedrooms', 'Area Population', 'Price', 'Address'],
      dtype='object')

In [15]:
x=hos[['Avg. Area Income', 'Avg. Area House Age', 'Avg. Area Number of Rooms',
       'Avg. Area Number of Bedrooms', 'Area Population']]
y=hos[['Price']]

In [16]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.4, random_state=101)

In [17]:
lin=LinearRegression()
lin.fit(x_train,y_train)

LinearRegression()

In [18]:
print(lin.intercept_)

[-2640159.79685163]

In [19]:
#3.  Create Python Jupyter notebook of Sk-Learn program using Support Vector Machine(SVM) to classify cancer samples diagnosed as Benign or Malignant 
#Dataset: https://raw.githubusercontent.com/AgustinCdeCelis/Cancer-Logistic-Regression/main/data.csv

In [20]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

data = pd.read_csv("data.csv")

# Selecting relevant features
X = data[['id', 'radius_mean', 'texture_mean', 'perimeter_mean',
       'area_mean', 'smoothness_mean', 'compactness_mean', 'concavity_mean',
       'concave points_mean', 'symmetry_mean', 'fractal_dimension_mean',
       'radius_se', 'texture_se', 'perimeter_se', 'area_se', 'smoothness_se',
       'compactness_se', 'concavity_se', 'concave points_se', 'symmetry_se',
       'fractal_dimension_se', 'radius_worst', 'texture_worst',
       'perimeter_worst', 'area_worst', 'smoothness_worst',
       'compactness_worst', 'concavity_worst', 'concave points_worst',
       'symmetry_worst', 'fractal_dimension_worst']]
y = data['diagnosis']



# Splitting the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

# Initializing the SVM model & Fitting the model on the training data
svm = SVC()
svm.fit(X_train, y_train)

SVC()

In [21]:
# Calculating the accuracy score & Predicting on the test data 
y_pred = svm.predict(X_test)
acc = accuracy_score(y_test, y_pred)
print("Accuracy: ", acc)

Accuracy:  0.6140350877192983